@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic|Josefin+Sans:700);

body {
  padding: 0;
  margin: 0;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
}
*::selection {
  background: #E67E7E;
}
h1, h2, h3, h4, h5, h6, h7, h8, h9, h10, h11, h12 {
  font-family: 'Josefin Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6, h7, h8, h9, h10, h11, h12, p,
nav, .content, pre, ul, ol, section.post > div {
  box-sizing: border-box;
  width: 100%;
  max-width: 66rem;
  padding: 1.4em 3rem 1em 3rem;
  margin: 0;
}
ul, ol {
  padding-left: 5rem;
  font-size: 1.2rem;
}
h1 {
  font-size: 3em;
}
p {
  font-size: 1.2em;
}
h1+p, h2+p, h3+p, h4+p, h5+p, h6+p, h7+p, h8+p, h9+p,
h10+p, h11+p, h12+p, p+p {
  padding-top: 0;
}
h2 {
  font-size: 2.5em;
  padding-top: 1em;
  padding-bottom: 0.8em;
}
h3 {
  font-size: 2.1em;
  padding-top: 0.7em;
  padding-bottom: 0.5em;
}
nav, .row {
  max-width: 63rem;
  padding: 0;
  display: flex;
}
.row {
  flex-wrap: wrap;
}
.row.centered {
  justify-content: center;
}
.row.spread {
  justify-content: space-around;
  align-items: center;
  justify-self: stretch;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  display: flex;
}
section, header, footer, .row, nav, iframe {
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 2rem 0;
}
section, header, footer {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #ecf0f1;
}
section:nth-child(even) {
  background-color: #dbe0e0;
}
section.post {
  background-color: #ecf0f1;
}
iframe {
  flex: 1;
  margin-left: 3rem;
  margin-right: 3rem;
}
iframe.soundcloud {
  margin-left:0;
  margin-right:0;
}
.row.full {
  padding-left:3rem;
  padding-right:3rem;
  box-sizing: border-box;
  width:100%;
}
.column {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-right: 1.5em;
  align-items: center;
  justify-content: center;
}
.column:last-child {
  padding-right: 0;
}
@media all and (max-width: 1000px) {
  .row {
    display: block;
  }
  .column {
    padding-right: 0;
  }
}
.button {
  cursor: pointer;
  display: inline-block;
  padding: 0.6em;
  margin: 0.3em;
  border-radius: 0.3em;
  -webkit-font-smoothing: antialiased;
  translate3d( 0, 0, 0);
  background-color: #fff;
  color: #588C8C;
  text-decoration: none;
  -webkit-transition: all 0.3s cubic-bezier(0,1.5,0.5,1);
  -moz-transition: all 0.3s cubic-bezier(0,1.5,0.5,1);
  -ms-transition: all 0.3s cubic-bezier(0,1.5,0.5,1);
  -o-transition: all 0.3s cubic-bezier(0,1.5,0.5,1);
  transition: all 0.3s cubic-bezier(0,1.5,0.5,1);
}
.button:hover {
  transform: scale(1.1) translate3d( 0, 0, 0);
}
.button.primary {
  font-size: 1.2em;
  background-color:#D9042B;
  color: #fff;
}
.button.secondary {
  background-color:#588C8C;
  color: #fff;
}
span.avoid_wrap {
  display: inline-block;
}
a {
  transition: all ease 0.3s;
  color:#D9042B;
}
a:hover {
  color: #588C8C;
}
a img {
  border:0;
}

span.code {
  font-family: monospace;
  unicode-bidi: embed;
  background-color: rgba(0,0,0,0.1);
  border-radius:4px;
  -webkit-border-radius:4px;
  padding:0.2em;
  vertical-align:middle;
  word-wrap: normal;
}

/* Post lists */
a.post {
  min-width: 18em;
  max-width: 30em;
  margin: 0 1.5em 2em 1.5em;
  flex: 1 0 18em;
  background-color: #fff;
  text-decoration: none;
  display: block;
  -webkit-font-smoothing: antialiased;
  transform: translate3d( 0, 0, 0);
  -webkit-transition: all 0.3s cubic-bezier(0,1.5,0.5,1);
  -moz-transition: all 0.3s cubic-bezier(0,1.5,0.5,1);
  -ms-transition: all 0.3s cubic-bezier(0,1.5,0.5,1);
  -o-transition: all 0.3s cubic-bezier(0,1.5,0.5,1);
  transition: all 0.3s cubic-bezier(0,1.5,0.5,1);
}
a.post:hover {
  transform: scale(1.05);
}
a.post .thumbnail {
  height: 12em;
  background-size: cover;
  background-position: center;
}
a.post h3 {
  background-color: #D9042B;
  color: #fff;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: 1.6rem;
}
a.post .languages {
  background-color: #222;
  color: #EEE;
  padding: 0.8rem 1.5rem;
  font-style: italic;
}
a.post p {
  color: #000;
  font-size: 1em;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 0.6em;
}
a.post .date {
  padding: 0 0.5em;
  display: block;
}
a.post .footer {
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  color: #777;
  padding: 0.5rem;
}
section.post div.awards {
  max-width: 800px;
  font-size: 1.2rem;
}
.award-row {
  display: flex;
  align-items: flex-start;
  margin-bottom:0.4em;
}
.award-description {
  flex: 1;
  margin-left: 2em;
  transform: translateZ(0); /* safari render bug fix */
}
.award {
  display: inline-block;
  width: 1.6em;
  height: 1.6em;
  background-size: cover;
}
.award.first {
  background-image: url("/content/images/icons/first.svg");
}
.award.second {
  background-image: url("/content/images/icons/second.svg");
}
.award.third {
  background-image: url("/content/images/icons/third.svg");
}
.award.fourth {
  background-image: url("/content/images/icons/fourth.svg");
}
.award.fifth {
  background-image: url("/content/images/icons/fifth.svg");
}
.award.review {
  background-image: url("/content/images/icons/review.svg");
}
.award.round {
  background-image: url("/content/images/icons/round.svg");
}

/* Post */
section.post .date {
  text-align: right;
  padding-top: 0;
}
section.post h1 {
  padding-bottom: 0;
}
section.post h1::after {
  content: '';
  background-color: rgba(0,0,0,0.2);
  display:block;
  height: 0.2rem;
}

section.post-header p {
  text-align: center;
}

.hljs {
  padding: 20px !important;
  border-radius: 10px;    
  overflow-x:auto;    
  flex: 1;
}

iframe.cp_embed_iframe {
  padding: 0;
  margin: 0;
}

div.img {
  display: table;
  width: auto !important;
}
div.img img {
  max-width: 100%;
}
div.img p {
  padding-top: 0.5rem;
  padding-bottom: 2rem;
  width: auto;
  font-size: 1em;
  font-style: italic;
  display: table-caption;
  caption-side: bottom;
}

section.youtube iframe.youtube {
  max-width: 66rem;
}
iframe.youtube {
  width:100%;
  height:600px;
}
iframe.youtube.embed {
  width:100%;
  max-width: 900px;
  display:block;
  margin:0 auto;
}
@media all and (max-width: 1300px) {
  iframe.youtube {
    height:500px;
  }
}
@media all and (max-width:700px) {
  iframe.youtube {
    height:350px;
  }
}
@media all and (max-width:500px) {
  iframe.youtube {
    height:220px;
  }
}
@media all and (max-width:280px) {
  iframe.youtube {
    height:180px;
  }
}
img.art {
  border:0;
  display:block;
  margin:0 auto;
  width: auto;
  max-width:100%;
  max-height:500px;
}
section.youtube {
  background-color: #0d122c;
}
section.youtube, section.art-header {
  padding-left: 3rem;
  padding-right: 3rem;
}

/* Browser */
.browser {
  display: inline-block;
  position: relative;
  padding: 3.5em 0 0.8em 0;
  background-color: rgba(88, 140, 140, 0.3);
  border-radius: 0.5em;
  margin: 1.4em 3rem 1em 3rem;
  -webkit-transition: all 0.3s cubic-bezier(0,1.5,0.5,1);
  -moz-transition: all 0.3s cubic-bezier(0,1.5,0.5,1);
  -ms-transition: all 0.3s cubic-bezier(0,1.5,0.5,1);
  -o-transition: all 0.3s cubic-bezier(0,1.5,0.5,1);
  transition: all 0.3s cubic-bezier(0,1.5,0.5,1);
}
a.browser:hover {
  transform: scale(1.05);
}
.post-header a.browser:hover {
  transform: scale(1.025);
}
.browser img {
  width: 100%;
  height: auto;
  max-width: 40rem;
  display: block;
}
.post-header .browser img {
  max-width: 60rem;
}
.browser:before {
  display:block;
  position: absolute;
  top: 1.6em;
  left: 0.3em;
  right: 0.3em;
  font-size: 0.8em;
  background-color: rgba(255, 255, 255, 0.4);
  color: rgba(88, 140, 140, 0.6);
  height: 1.1em;
  line-height: 1.1em;
  padding: 0.3em;
  font-size: 1em;
  content: attr(data-url);
  text-align: left;
  border-radius: 0.2em;
}
.browser:after {
  display: block;
  position: absolute;
  top:-0.2em;
  right:0.3em;
  pointer-events: none;
  content: "\25CF \25CF \25CF";
  color: rgba(255, 255, 255, 0.4);
  font-size: 1.5em;
}
.android img {
  width: 400px;
  max-width:100%;
}

/* Menu */
header {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  background-color: #fff;
  position: relative;
  padding:0;
}
header:after {
  content: '';
  width: 100%;
  height: 0.2rem;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background-color: rgba(1, 28, 38, 0.2);
}
nav {
  height: 5.5rem;
  padding:0;
  justify-content: space-between;
}
nav h1 {
  display: flex;
  flex: 1;
  align-items: stretch;
  padding: 0;
  margin: 0;
  font-size: 1.5em;
}
nav h1 a {
  width: auto;
  justify-content: flex-start;
}
nav a {
  width: 5rem;
  display: flex;
  padding: 0.8em;
  align-items: center;
  font-size: 1.2em;
  justify-content: center;
  color: #588C8C;
  background-color: #fff;
  text-decoration: none;
  transition: all ease 0.3s;
}
nav a:hover {
  background-color: #D9042B;
  color: #fff;
}
nav a.selected {
  background-color: rgba(217, 4, 43, 0.5);
  color: #fff;
}
nav a.toggle {
  display: none;
}
@media all and (max-width: 550px) {
  nav {
    display: block;
    background-color: #FFF;
    height: 9.5rem;
    overflow: hidden;
    -webkit-transition: all 0.3s cubic-bezier(0,1.5,0.5,1);
    -moz-transition: all 0.3s cubic-bezier(0,1.5,0.5,1);
    -ms-transition: all 0.3s cubic-bezier(0,1.5,0.5,1);
    -o-transition: all 0.3s cubic-bezier(0,1.5,0.5,1);
    transition: all 0.3s cubic-bezier(0,1.5,0.5,1);
  }
  nav.open {
    height: 21.5rem;
  }
  nav a.toggle {
    background-color: rgba(217, 4, 43, 0.5);
    display: block;
    cursor: pointer;
    color:#FFF;
  }
  nav h1 a {
    flex: 1;
    display: block;
    justify-content: center;
    height:5.5rem;
    line-height:3rem;
  }
  nav a {
    box-sizing: border-box;
    width: auto;
    height: 4rem;
    text-align: center;
    line-height:2rem;
  }
}

/* Intro */
#header {
  position: relative;
}
#intro {
  padding: 1rem 4rem;
  max-width: 45rem;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
  color: #fff;
  flex-wrap: wrap;
  text-align: center;
}
#intro h2 {
  font-size: 2rem;
}
#intro p, #intro h2 {
  width: auto;
  max-width: auto;
  padding: 1rem;
}
#intro > p {
  box-sizing: border-box;
  width: 100%;
  padding-top: 1.5rem;
}
#intro #world {
  flex: 1;
  transform-origin: top center;
  margin:-3rem auto 1rem auto;
  max-width: 15rem;
  box-sizing: border-box;
  align-self: stretch;
  height: 22rem;
  font-size: 0.5rem;
  z-index: 1;
  position: relative;
}
#intro #world > div.branch {
  position: absolute;
  top:0;
  left:50%;
  margin-left:-0.1em;
}
#intro #description {
  z-index: 2;
  flex: 1;
  margin-left: 2rem;
  font-size: 1.1em;
  transform: translateZ(0); /* safari render bug fix */
}
@media all and (max-width: 800px) {
  #intro {
    display: block;
  }
  #intro #description {
    margin-left: 0;
  }
}
#overlay {
  position:absolute;
  z-index: 1;
  top:0;
  left:0;
  right:0;
  bottom:0;
  transition: all ease-in-out 0.7s;
  background-color:rgba(0, 0, 0, 1);
}
#overlay.transparent {
  background-color:rgba(0, 0, 0, 0.5);
}
#header {
  overflow: hidden;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.4)), url("/content/images/2016/7/mc-large.jpg");
  background-size: cover;
  background-position: center;
}
#header p {
  font-size: 1em;
}
#header h2, #header p {
  margin: 0;
}

/* Footer */
footer {
  background-color: #011C26;
  background-image: url("mountains.svg");
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.4)), url("/content/images/2016/7/hillside-large.jpg");
  background-position: center;
  background-size: cover;
  color: #fff;
}
footer p {
  text-align: center;
}
